* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  /* background-color: #70A9A1; */
  /* background: #eee; */
  background: #DCD6F7;
}